.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sidebar{
  background-color:black;
  color: white;  
}

.card{
  height: 400px;
}

.card-title{
  text-align: center;
  font-size: 1.5em;
}

.card-body{

}

.vente{

  position: relative;
  right: 1.5em;
}