.Form{
    justify-content: center;
    text-align: center;
    margin-top: 4em;
}

.labels{
    margin-top: 2em;
}

input{
    margin-left: 1em;
}

select{
    margin-left: 1em;
}

.card1{
    height: 100%;
}